<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.seoulit.his.inpatientservice.bed.mapper.BedDashboardMapper">

    <select id="getWardBedStatusSummary" statementType="CALLABLE" parameterType="map">
        {
            CALL SP_GET_WARD_BED_STATUS(
                #{wardCd,mode=IN,jdbcType=VARCHAR},
                #{totalCnt, mode=OUT, jdbcType=NUMERIC},
                #{emptyCnt, mode=OUT, jdbcType=NUMERIC},
                #{occupiedCnt, mode=OUT, jdbcType=NUMERIC},
                #{reservedCnt, mode=OUT, jdbcType=NUMERIC},
                #{maintenanceCnt, mode=OUT, jdbcType=NUMERIC}

            )
        }
    </select>
    <select id ="getWardBedDetailList" resultType="map">
        SELECT
            bed_id,
            room_no,
            bed_no,
            bed_status,
            patient_id
        FROM bed
        WHERE ward_cd = #{wardCd}
        ORDER BY room_no, bed_no

    </select>
</mapper>